footer {
  color: yellow;
}

header {
  color: yellow;
}
h1 {
  font-size: large;
  font-style: oblique;
  color: red;
}

#first_row {
  color: rgba(255, 0, 0);
}

#second_row {
  color: rgba(205, 0, 0);
}

#third_row {
  color: rgb(165, 0, 0);
}

#fourth_row {
  color: rgba(125, 0, 0);
}

#fifth_row {
  color: rgba(85, 0, 0);
}

#sxth_row {
  color: rgba(255, 0, 0);
}

body{
    color-scheme: ;
}